.card {
    margin: 15px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    /* transform-style: preserve-3d;
    transition: 0.8s;
    transform: rotateY(0deg); */
    perspective: 1000px;
    height: 400px;
  }
  
  /* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  } */
  .word {
    margin: auto;
    /* padding: 150px 80px; */
    font-size: 32px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg); /* Переворот карточки при наведении */
  }
.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .card-front {
    background: var(--card-front-color);
    color: white;
  }
  
    .card-back {
    background: var(--card-back-color);
    color: white;
    transform: rotateY(180deg);
    }

    .addCard {
      position: absolute;
      left: 20vw;
      width: 50vw;
      height: 60%;
      min-height: 50vh;
      z-index: 6;
      background-color: var(--border-color);
    }
.delete-btn {
  position: absolute;
  bottom: 0;
  left: 40%;
}